body{
    color: lightgrey;
    background-color: #0B1623;
}

.AboutMeBlock{
    margin-bottom: 50px;
    margin-top: 50px;
}

.Project{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.ProjectDes{
    flex-grow: 50%;
    padding: 30px
}

.ProjectImage{
    padding: 30px
}

.ProjectOneLink{
    height: 20px;
    width: 20px
}

span{
    color:darkslategray
}